@(student:Student)
@main("Trang chủ của sinh viên"){
	<div class="parallax overflow-hidden bg-blue-400 page-section third">
	    <div class="container parallax-layer" data-opacity="true">
	        <div class="media v-middle">
	            <div class="media-left text-center">
	                <a href="#">
	                	@if(student.avatar == null){
                            <img src="@routes.Assets.at("images/no-avatar.png")" alt="people" class="img-circle width-80" />
                        } else {
                            <img src="@routes.Students.getAvatar(student.id)" alt="people" class="img-circle width-90 height-90" />
                        }                    
	                </a>
	            </div>
	            <div class="media-body">
	                <h1 class="text-white text-display-1 margin-v-0">@student.name</h1>
	                <p class="text-subhead"><a class="link-white text-underline" href="@routes.Students.details(student)">Sửa thông tin cá nhân</a></p>
	            </div>
	            <div class="media-right">
	                <span class="label bg-blue-500">Sinh viên</span>
	            </div>
	        </div>
	    </div>
	</div>
	<div class="container">
        <div class="page-section">
            <div class="row">
                <div class="col-md-9">
	                <div class="row" data-toggle="isotope">
				        <div class="item col-xs-12 col-lg-6">
				            <div class="panel panel-default paper-shadow" data-z="0.5">
				                <div class="panel-heading">
				                    <h4 class="text-headline margin-none">Trình độ kiến thức</h4>
				                </div>
				                <ul class="list-group">
				                    <li class="list-group-item media v-middle">
				                        <div class="media-body">
				                            <a href="#" class="text-subhead list-group-link">Mạng máy tính</a>
				                        </div>
				                        <div class="media-right">
				                            <div class="progress progress-mini width-100 margin-none">
				                                <div class="progress-bar progress-bar-green-300" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width:45%;">
				                                </div>
				                            </div>
				                        </div>
				                    </li>
				                    <li class="list-group-item media v-middle">
				                        <div class="media-body">
				                            <a href="#" class="text-subhead list-group-link">Công nghệ phần mềm</a>
				                        </div>
				                        <div class="media-right">
				                            <div class="progress progress-mini width-100 margin-none">
				                                <div class="progress-bar progress-bar-green-300" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width:75%;">
				                                </div>
				                            </div>
				                        </div>
				                    </li>
				                    <li class="list-group-item media v-middle">
				                        <div class="media-body">
				                            <a href="#" class="text-subhead list-group-link">Lập trình hướng đối tượng</a>
				                        </div>
				                        <div class="media-right">
				                            <div class="progress progress-mini width-100 margin-none">
				                                <div class="progress-bar progress-bar-green-300" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width:25%;">
				                                </div>
				                            </div>
				                        </div>
				                    </li>
				                </ul>
				                <div class="panel-footer text-right">
				                    <a href="#" class="btn btn-white paper-shadow relative" data-z="0" data-hover-z="1" data-animated href="#"> Xem tất cả</a>
				                </div>
				            </div>
				        </div>
				        <div class="item col-xs-12 col-lg-6">
				            <div class="panel panel-default paper-shadow" data-z="0.5">
				                <div class="panel-body">
				                    <h4 class="text-headline margin-none">Các giải thưởng</h4>
				                    <p class="text-subhead text-light">Trong các cuộc thi</p>
				                    <div class="icon-block half img-circle bg-purple-300">
				                        <i class="fa fa-star text-white"></i>
				                    </div>
				                    <div class="icon-block half img-circle bg-indigo-300">
				                        <i class="fa fa-trophy text-white"></i>
				                    </div>
				                    <div class="icon-block half img-circle bg-green-300">
				                        <i class="fa fa-mortar-board text-white"></i>
				                    </div>
				                    <div class="icon-block half img-circle bg-orange-300">
				                        <i class="fa fa-code-fork text-white"></i>
				                    </div>
				                    <div class="icon-block half img-circle bg-red-300">
				                        <i class="fa fa-diamond text-white"></i>
				                    </div>
				                </div>
				            </div>
				            <div class="panel panel-default paper-shadow" data-z="0.5">
				                <div class="panel-heading">
				                    <h4 class="text-headline">Chứng chỉ
				                        <small>(4)</small>
				                    </h4>
				                </div>
				                <div class="panel-body">
				                    <a class="btn btn-default text-grey-400 btn-lg btn-circle paper-shadow relative" data-hover-z="0.5" data-animated data-toggle="tooltip" data-title="Name of Certificate">
				                        <i class="fa fa-file-text"></i>
				                    </a>
				                    <a class="btn btn-default text-grey-400 btn-lg btn-circle paper-shadow relative" data-hover-z="0.5" data-animated data-toggle="tooltip" data-title="Name of Certificate">
				                        <i class="fa fa-file-text"></i>
				                    </a>
				                    <a class="btn btn-default text-grey-400 btn-lg btn-circle paper-shadow relative" data-hover-z="0.5" data-animated data-toggle="tooltip" data-title="Name of Certificate">
				                        <i class="fa fa-file-text"></i>
				                    </a>
				                    <a class="btn btn-default text-grey-400 btn-lg btn-circle paper-shadow relative" data-hover-z="0.5" data-animated data-toggle="tooltip" data-title="Name of Certificate">
				                        <i class="fa fa-file-text"></i>
				                    </a>
				                </div>
				            </div>
				        </div>
				        <div class="item col-xs-12 col-lg-6">
				            <div class="panel panel-default paper-shadow" data-z="0.5">
				                <div class="panel-heading">
				                    <h4 class="text-headline margin-none">Thông tin cá nhân</h4>
				                    <p class="text-subhead text-light">@student.ean</p>
				                </div>
				                <ul class="list-group">
				                    <li class="list-group-item media v-middle">
				                        <div class="media-body">
				                            <h4 class="text-subhead margin-none">
				                                <a href="#" class="list-group-link">Họ và tên</a>
				                            </h4>                      
				                        </div>
				                        <div class="media-center text-center">
				                            <div class="text-display-1">@student.name</div>                     
				                        </div>
				                    </li>
				                    <li class="list-group-item media v-middle">
				                        <div class="media-body">
				                            <h4 class="text-subhead margin-none">
				                                <a href="#" class="list-group-link">Ngày sinh</a>
				                            </h4>                        
				                        </div>
				                        <div class="media-center text-center">
				                            <div class="text-display-1 text-green-300">@student.birthday.format("dd-MM-yyyy")</div>                           
				                        </div>
				                    </li>
				                    <li class="list-group-item media v-middle">
				                        <div class="media-body">
				                            <h4 class="text-subhead margin-none">
				                                <a href="#" class="list-group-link">Số điện thoại</a>
				                            </h4>                           
				                        </div>
				                        <div class="media-center text-center">
				                            <div class="text-display-1 text-red-300">@student.phone</div>
				                        </div>
				                    </li>
				                    <li class="list-group-item media v-middle">
				                        <div class="media-body">
				                            <h4 class="text-subhead margin-none">
				                                <a href="website-take-quiz.html" class="list-group-link">Ngành</a>
				                            </h4>                           
				                        </div>
				                        <div class="media-center text-center">
				                            <div class="text-display-1 text-blue-300">@student.faculty</div>
				                        </div>
				                    </li>
				                </ul>               
				            </div>
				        </div>
				        <div class="item col-xs-12 col-lg-6">
				          	<div class="panel panel-default paper-shadow" data-z="0.5">
								<ul class="list-group">
				                    <li class="list-group-item media v-middle">
				                        <div class="media-body">
				                            <h4 class="text-subhead margin-none">
				                                <a href="#" class="list-group-link">Địa chỉ</a>
				                            </h4>                      
				                        </div>
				                        <div class="media-center text-center">
				                            <div class="text-display-1 text-pink-300">@student.address</div>                     
				                        </div>
				                    </li>
				                    <li class="list-group-item media v-middle">
				                        <div class="media-body">
				                            <h4 class="text-subhead margin-none">
				                                <a href="#" class="list-group-link">Lớp</a>
				                            </h4>                        
				                        </div>
				                        <div class="media-center text-center">
				                            <div class="text-display-1 text-yellow-300">@student.classes</div>                           
				                        </div>
				                    </li>
				                    <li class="list-group-item media v-middle">
				                        <div class="media-body">
				                            <h4 class="text-subhead margin-none">
				                                <a href="#" class="list-group-link">Email</a>
				                            </h4>                           
				                        </div>
				                        <div class="media-center text-center">
				                            <div class="text-display-1 text-gray-300">@student.email</div>
				                        </div>
				                    </li>
				                </ul>
				          	</div>
				        </div>
	    			</div>
                </div>
                <div class="col-md-3">
	                <div class="panel panel-default" data-toggle="panel-collapse" data-open="true">
	                        <div class="panel-heading panel-collapse-trigger">
	                            <h4 class="panel-title">Tài khoản</h4>
	                        </div>
	                        <div class="panel-body list-group">
	                            <ul class="list-group list-group-menu">
	                                <li class="list-group-item active"><a class="link-text-color" href="@routes.Students.dashboard(student)">Tổng quan</a></li>
	                                <li class="list-group-item"><a class="link-text-color" href="@routes.Teachers.list()">Danh sách giáo viên</a></li>
	                                <li class="list-group-item"><a class="link-text-color" href="@routes.Students.details(student)">Sửa thông tin cá nhân</a></li>
	                                <li class="list-group-item"><a class="link-text-color" href="#">Tin nhắn</a></li>
	                                <li class="list-group-item"><a class="link-text-color" href="@routes.Application.logout()"><span>Đăng xuất</span></a></li>
	                            </ul>
	                        </div>
	                    </div>
	                </div>
                </div>
            </div>
        </div>
    </div>
	
}