@(studentForm: Form[Student])

@import helper._
@import helper.twitterBootstrap._

@main("Student form") {
    <h1>Student form</h1>
    @form(CSRF(routes.Students.save())) {
        <fieldset>
            <legend>Student (@studentForm("name").valueOr("New"))</legend>
            @helper.inputText(studentForm("ean"), '_label -> "MSSV")
            @helper.inputText(studentForm("name"), '_label -> "Họ tên", 'readonly -> "")
            @helper.inputDate(studentForm("birthday"), '_label -> "Ngày sinh", 'readonly -> "")
            @helper.inputText(studentForm("address"), '_label -> "Địa chỉ")
            @helper.inputText(studentForm("phone"), '_label -> "Số điện thoại")
            @helper.select(studentForm("faculty"),
                            options = options(Seq("Công nghệ Thông tin", "Khoa học Máy tính",
                                "Công nghệ Điện tử - Viễn thông", "Vật lý Kỹ thuật", "Công nghệ Cơ Điện tử", "Truyền thông và Mạng máy tính")),
                            '_label -> "Faculty",
                            '_id -> "faculty",
                            '_default -> "-- Chọn Ngành --",
                            'readonly -> "")
            @helper.inputText(studentForm("classes"), '_label -> "Lớp", 'readonly -> "")
            @helper.inputText(studentForm("email"), '_label -> "Email", 'type -> "email", 'readonly -> "")
            @helper.inputText(studentForm("password"), '_label -> "Mật khẩu", 'type -> "password")
            @helper.inputText(studentForm("password_confirm"), '_label -> "Gõ lại Mật khẩu", 'type -> "password")
        </fieldset>
        <input type="submit" class="btn btn-primary" value="Save">
        <a class="btn" href="@routes.Students.list()">Cancel</a>
        <input type="hidden" value="@studentForm("id").valueOr("")" name="id"/>
    }
}