@(studentForm: Form[Student])
@import helper._

@main("Thông tin cá nhân") {
<script>
    $(function(){
            $('.info').css('display', 'none');
    });
    @if(Student.findByEmail(session().get("email"))!=null){
        $(function(){
            $('input#ean').attr('readonly', '');
            $('input#name').attr('readonly', '');
            $('input#email').attr('readonly', '');
            $('input#birthday').attr('readonly', '');
            $('select').attr('readonly', '');
        });
    }
</script>
<div class="parallax overflow-hidden bg-blue-400 page-section third">
    <div class="container parallax-layer" data-opacity="true">
        <div class="media v-middle">
            <div class="media-left text-center">
                <a href="#">
                    <a href="#">
                    @if(Student.findByEmail(session().get("email"))!=null){
                        @if(Student.findByEmail(session().get("email")).avatar == null){
                            <img src="@routes.Assets.at("images/no-avatar.png")" alt="people" class="img-circle width-80" />
                        } else {
                            <img src="@routes.Students.getAvatar(Student.findByEmail(session().get("email")).id)" alt="people" class="img-circle width-90 height-90" />
                        }                    
                    </a>
                    } else {
                    <img src="@routes.Assets.at("images/no-avatar.png")" alt="people" class="img-circle width-80" />
                    }
                </a>
            </div>
            <div class="media-body">
                @if(Student.findByEmail(session().get("email"))!=null){
                <h1 class="text-white text-display-1 margin-v-0">@Student.findByEmail(session().get("email")).name</h1>
                } else {
                <h1 class="text-white text-display-1 margin-v-0">Admin</h1>
                }
            </div>
            <div class="media-right">
                @if(Student.findByEmail(session().get("email"))!=null){
                <span class="label bg-blue-500">Sinh viên</span>
                } else {
                <span class="label bg-blue-500">Giáo vụ</span>
                }
            </div>
        </div>
    </div>
</div>
<div class="page-section">
    <div class="row">
        <div class="col-md-10 col-lg-8 col-md-offset-1 col-lg-offset-2">
            <h2 class="page-section-heading">Thông tin cá nhân</h2>
            <div class="panel panel-default">
                <div class="panel-body">
                    @form(CSRF(routes.Students.save())) {
                        <input type="hidden" value="@studentForm("id").valueOr("")" name="id"/>
                        <fieldset>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group form-control-material">
                                        @helper.inputText(studentForm("ean"), '_label -> "Mã số sinh viên", '_id -> "ean", 'class->"form-control")
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group form-control-material">
                                        @helper.inputText(studentForm("name"), '_label -> "Họ tên", '_id -> "name", 'class->"form-control")
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group form-control-material">
                                        @helper.inputDate(studentForm("birthday"), '_label -> "Ngày sinh",'_id -> "birthday",  'class-> "form-control")
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group form-control-material">
                                        @helper.inputText(studentForm("address"), '_label -> "Địa chỉ",'_id -> "address",  'class -> "form-control")
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group form-control-material">
                                        @helper.inputText(studentForm("phone"), '_label -> "Số điện thoại", '_id -> "phone", 'class->"form-control")
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group form-control-material">
                                        @helper.select(studentForm("faculty"),
                                        options = options(Seq("Công nghệ Thông tin", "Khoa học Máy tính",
                                            "Công nghệ Điện tử - Viễn thông", "Vật lý Kỹ thuật", "Công nghệ Cơ Điện tử", "Truyền thông và Mạng máy tính")),
                                        '_label -> "Ngành học",
                                        '_id -> "faculty",
                                        '_default -> "-- Chọn Ngành --",
                                        'class -> "selectpicker")
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group form-control-material">
                                        @helper.inputText(studentForm("classes"), '_label -> "Lớp", '_id -> "classes", 'class->"form-control")
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group form-control-material">
                                        @helper.inputText(studentForm("email"), '_label -> "Email",'_id -> "email",  'type -> "email", 'class->"form-control")
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group form-control-material">
                                        @helper.inputText(studentForm("password"), '_label -> "Mật khẩu",'_id -> "password",  'type -> "password", 'class->"form-control")
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group form-control-material">
                                        @helper.inputText(studentForm("confirm_password"), '_label -> "Gõ lại Mật khẩu",'_id -> "confirm_password",  'type -> "password", 'class->"form-control")
                                    </div>
                                </div>
                            </div>
                        </fieldset>                    
                    <div class="col-md-7 col-md-offset-3">
                        <input type="submit" class="btn btn-primary" value="Save">                      
                        @if(Student.findByEmail(session().get("email"))!=null){
                        <a class="btn btn-success" href="@routes.Students.upload()">Upload Avatar</a>
                        <a class="btn" href="@routes.Students.dashboard(Student.findByEmail(session().get("email")))">Cancel</a>
                        } else {
                        <a class="btn" href="@routes.Students.list()">Cancel</a>
                        }
                    </div>
                    }
                </div>
                
            </div>
        </div>
    </div>
</div>
        
        
        
}

