@(form: Form[Students.UploadAvatarForm])
@import views.html.students._
@import views.html.helper.CSRF
@main("Cập nhật ảnh đại diện") {

<div class="parallax overflow-hidden bg-blue-400 page-section third">
    <div class="container parallax-layer" data-opacity="true">
        <div class="media v-middle">
            <div class="media-left text-center">
                <a href="#">
	                	@if(Student.findByEmail(session().get("email")).avatar == null){
                            <img src="@routes.Assets.at("images/no-avatar.png")" alt="people" class="img-circle width-80" />
                        } else {
                            <img src="@routes.Students.getAvatar(Student.findByEmail(session().get("email")).id)" alt="people" class="img-circle width-90 height-90" />
                        }                    
	            </a>
            </div>
            <div class="media-body">
                @if(Student.findByEmail(session().get("email"))!=null){
                <h1 class="text-white text-display-1 margin-v-0">@Student.findByEmail(session().get("email")).name</h1>
                } else {
                <h1 class="text-white text-display-1 margin-v-0">Admin</h1>
                }
            </div>
            <div class="media-right">
                @if(Student.findByEmail(session().get("email"))!=null){
                <span class="label bg-blue-500">Sinh viên</span>
                } else {
                <span class="label bg-blue-500">Giáo vụ</span>
                }
            </div>
        </div>
    </div>
</div>
<div class="container">
	<div class="page-section">
		<div class="row">
			<div class="tabbable paper-shadow relative" data-z="0.5">
				<ul class="nav nav-tabs">
					<li class="active"><a href="website-student-profile.html"><i class="fa fa-fw fa-lock"></i> <span class="hidden-sm hidden-xs">Tài khoản</span></a></li>
				</ul>
				<div class="tab-content">
					<div id="account" class="tab-pane active">
						@helper.form(CSRF(routes.Students.uploadAvatar()),'class -> "form-horizontal", 'enctype -> "multipart/form-data") {
				            <input id="uploader" type="file" class="" accept=".jpg, .png, .bmp" name="avatar">
                            <br>
                            <p>Bạn có thể kéo thả để upload avatar !</p>
				            <button type="submit" class="btn btn-primary">Upload Avatar</button>
				        }
                        <br>
                        <img src="@routes.Assets.at("images/no-avatar.png")" id="profile-avatar" alt="Upload Avatar">
                        <script src="@routes.Assets.at("js/resample.js")"></script>
                        <script src="@routes.Assets.at("js/avatar.js")"></script>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
}