@(teacher:Teacher)
@main("Trang chủ của giáo viên"){
	<div class="parallax overflow-hidden bg-blue-400 page-section third">
	    <div class="container parallax-layer" data-opacity="true">
	        <div class="media v-middle">
	            <div class="media-left text-center">
	                <a href="#">
	                    <img src="@routes.Assets.at("images/teacher.jpg")" alt="people" class="img-circle width-80" />
	                </a>
	            </div>
	            <div class="media-body">
	                <h1 class="text-white text-display-1 margin-v-0">@teacher.name</h1>
	                <p class="text-subhead"><a class="link-white text-underline" href="@routes.Teachers.details(teacher)">Sửa thông tin cá nhân</a></p>
	            </div>
	            <div class="media-right">
	                <span class="label bg-blue-500">Giáo viên</span>
	            </div>
	        </div>
	    </div>
	</div>
	<div class="container">
		<div class="page-section">
			<div class="row">
				<div class="col-md-9">
					<div class="row" data-toggle="isotope">
						<div class="item col-xs-12 col-lg-6">
							<div class="panel panel-default paper-shadow" data-z="0.5">
                                <div class="panel-heading">
                                    <div class="media v-middle">
                                        <div class="media-body">
                                            <h4 class="text-headline margin-none">Thu nhập</h4>
                                            <p class="text-subhead text-light">1 tháng</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div id="line-holder" data-toggle="flot-chart-earnings" class="flotchart-holder height-200"></div>
                                </div>
                                <hr/>
                            </div>
						</div>
						<div class="item col-xs-12 col-lg-6">
				            <div class="panel panel-default paper-shadow" data-z="0.5">
				                <div class="panel-heading">
				                    <h4 class="text-headline margin-none">Năng lực giảng dạy</h4>
				                </div>
				                <ul class="list-group">
				                    <li class="list-group-item media v-middle">
				                        <div class="media-body">
				                            <a href="#" class="text-subhead list-group-link">Mạng máy tính</a>
				                        </div>
				                        <div class="media-right">
				                            <div class="progress progress-mini width-100 margin-none">
				                                <div class="progress-bar progress-bar-green-300" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width:25%;">
				                                </div>
				                            </div>
				                        </div>
				                    </li>
				                    <li class="list-group-item media v-middle">
				                        <div class="media-body">
				                            <a href="#" class="text-subhead list-group-link">Công nghệ phần mềm</a>
				                        </div>
				                        <div class="media-right">
				                            <div class="progress progress-mini width-100 margin-none">
				                                <div class="progress-bar progress-bar-green-300" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width:85%;">
				                                </div>
				                            </div>
				                        </div>
				                    </li>
				                    <li class="list-group-item media v-middle">
				                        <div class="media-body">
				                            <a href="#" class="text-subhead list-group-link">Lập trình hướng đối tượng</a>
				                        </div>
				                        <div class="media-right">
				                            <div class="progress progress-mini width-100 margin-none">
				                                <div class="progress-bar progress-bar-green-300" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%;">
				                                </div>
				                            </div>
				                        </div>
				                    </li>
				                </ul>
				                <div class="panel-footer text-right">
				                    <a href="#" class="btn btn-white paper-shadow relative" data-z="0" data-hover-z="1" data-animated href="#"> Xem tất cả</a>
				                </div>
				            </div>
				        </div>
				        <div class="item col-xs-12 col-lg-6">
				            <div class="panel panel-default paper-shadow" data-z="0.5">
				                <div class="panel-heading">
				                    <h4 class="text-headline margin-none">Thông tin cá nhân</h4>
				                    <p class="text-subhead text-light">Email : @teacher.email</p>
				                </div>
				                <ul class="list-group">
				                    <li class="list-group-item media v-middle">
				                        <div class="media-body">
				                            <h4 class="text-subhead margin-none">
				                                <a href="#" class="list-group-link">Họ và tên</a>
				                            </h4>                      
				                        </div>
				                        <div class="media-center text-center">
				                            <div class="text-display-1">@teacher.name</div>                     
				                        </div>
				                    </li>
				                    <li class="list-group-item media v-middle">
				                        <div class="media-body">
				                            <h4 class="text-subhead margin-none">
				                                <a href="#" class="list-group-link">Số điện thoại</a>
				                            </h4>                        
				                        </div>
				                        <div class="media-center text-center">
				                            <div class="text-display-1 text-green-300">@teacher.phone</div>                           
				                        </div>
				                    </li>
				                    <li class="list-group-item media v-middle">
				                        <div class="media-body">
				                            <h4 class="text-subhead margin-none">
				                                <a href="website-take-quiz.html" class="list-group-link">Ngành</a>
				                            </h4>                           
				                        </div>
				                        <div class="media-center text-center">
				                            <div class="text-display-1 text-blue-300">@teacher.faculty</div>
				                        </div>
				                    </li>
				                </ul>               
				            </div>
				        </div>
				        <div class="item col-xs-12 col-lg-6">
				          	<div class="panel panel-default paper-shadow" data-z="0.5">
								<ul class="list-group">
				                    <li class="list-group-item media v-middle">
				                        <div class="media-body">
				                            <h4 class="text-subhead margin-none">
				                                <a href="#" class="list-group-link">Học vị</a>
				                            </h4>                      
				                        </div>
				                        <div class="media-center text-center">
				                            <div class="text-display-1 text-pink-300">@teacher.classes</div>                     
				                        </div>
				                    </li>
				                    <li class="list-group-item media v-middle">
				                        <div class="media-body">
				                            <h4 class="text-subhead margin-none">
				                                <a href="#" class="list-group-link">Mã giáo viên</a>
				                            </h4>                           
				                        </div>
				                        <div class="media-center text-center">
				                            <div class="text-display-1 text-gray-300">@teacher.ean</div>
				                        </div>
				                    </li>
				                </ul>
				          	</div>
				        </div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="panel panel-default" data-toggle="panel-collapse" data-open="true">
                        <div class="panel-heading panel-collapse-trigger">
                            <h4 class="panel-title">Tài khoản</h4>
                        </div>
                        <div class="panel-body list-group">
                            <ul class="list-group list-group-menu">
                                <li class="list-group-item active"><a class="link-text-color" href="@routes.Teachers.dashboard(teacher)">Tổng quan</a></li>
                                <li class="list-group-item"><a class="link-text-color" href="@routes.Students.list()">Danh sách sinh viên</a></li>
                                <li class="list-group-item"><a class="link-text-color" href="@routes.Teachers.details(teacher)">Sửa thông tin cá nhân</a></li>
                                <li class="list-group-item"><a class="link-text-color" href="#">Tin nhắn</a></li>
                                <li class="list-group-item"><a class="link-text-color" href="@routes.Application.logout()"><span>Đăng xuất</span></a></li>
                            </ul>
                        </div>
                    </div>
				</div>
			</div>
		</div>
	</div>
}