@(teacherForm: Form[Teacher])

@import helper._

@main("Thông tin cá nhân") {
<script>
    $(function(){
            $('.info').css('display', 'none');
    });
    @if(Teacher.findByEmail(session().get("email"))!=null){
        $(function(){
            $('input#ean').attr('readonly', '');
            $('input#name').attr('readonly', '');
        });
    }
</script>
<div class="parallax overflow-hidden bg-blue-400 page-section third">
    <div class="container parallax-layer" data-opacity="true">
        <div class="media v-middle">
            <div class="media-left text-center">
                <a href="#">
                    <img src="@routes.Assets.at("images/people/110/guy-6.jpg")" alt="people" class="img-circle width-80" />
                </a>
            </div>
            <div class="media-body">
                @if(Teacher.findByEmail(session().get("email"))!=null){
                <h1 class="text-white text-display-1 margin-v-0">@session().get("email")</h1>
                } else {
                <h1 class="text-white text-display-1 margin-v-0">Admin</h1>
                }
            </div>
            <div class="media-right">
                @if(Teacher.findByEmail(session().get("email"))!=null){
                <span class="label bg-blue-500">Giáo viên</span>
                } else {
                <span class="label bg-blue-500">Giáo vụ</span>
                }
            </div>
        </div>
    </div>
</div>
<div class="page-section">
    <div class="row">
        <div class="col-md-10 col-lg-8 col-md-offset-1 col-lg-offset-2">
            <h2 class="page-section-heading">Thông tin cá nhân</h2>
            <div class="panel panel-default">
              <div class="panel-body">
                  @form(CSRF(routes.Teachers.save())) {
                  <input type="hidden" value="@teacherForm("id").valueOr("")" name="id"/>
                      <fieldset>
                          <div class="row">
                              <div class="col-md-6">
                                  <div class="form-group form-control-material">
                                      @helper.inputText(teacherForm("ean"), '_label -> "Mã giáo viên", '_id -> "ean", 'class->"form-control")
                                  </div>
                              </div>
                              <div class="col-md-6">
                                  <div class="form-group form-control-material">
                                      @helper.inputText(teacherForm("name"), '_label -> "Họ tên", '_id -> "name", 'class->"form-control")
                                  </div>
                              </div>
                          </div>
                          <br>
                          <div class="row">
                              <div class="col-md-6">
                                  <div class="form-group form-control-material">
                                      @helper.inputText(teacherForm("phone"), '_label -> "Số điện thoại", '_id -> "phone", 'class->"form-control")
                                  </div>
                              </div>
                              <div class="col-md-6">
                                  <div class="form-group form-control-material">
                                      @helper.select(teacherForm("faculty"),
                                      options = options(Seq("Công nghệ Thông tin", "Khoa học Máy tính",
                                          "Công nghệ Điện tử - Viễn thông", "Vật lý Kỹ thuật", "Công nghệ Cơ Điện tử", "Truyền thông và Mạng máy tính")),
                                      '_label -> "Ngành dạy",
                                      '_id -> "faculty",
                                      '_default -> "-- Chọn Ngành --",
                                      'class -> "selectpicker")
                                  </div>
                              </div>
                          </div>
                          <br>
                          <div class="row">
                              <div class="col-md-6">
                                  <div class="form-group form-control-material">
                                      @helper.select(teacherForm("classes"),
                                      options = options(Seq("Giáo sư", "Phó Giáo Sư",
                                      "Tiến Sĩ", "Thạc sĩ")),
                                      '_label -> "Học vị",
                                      '_id -> "classes",
                                      '_default -> "-- Chọn Học vị --",
                                      'class -> "selectpicker")
                                  </div>
                              </div>
                              <div class="col-md-6">
                                  <div class="form-group form-control-material">
                                      @helper.inputText(teacherForm("email"), '_label -> "Email",'_id -> "email",  'type -> "email", 'class->"form-control")
                                  </div>
                              </div>
                          </div>
                          <br>
                          <div class="row">
                              <div class="col-md-6">
                                  <div class="form-group form-control-material">
                                      @helper.inputText(teacherForm("password"), '_label -> "Mật khẩu",'_id -> "password",  'type -> "password", 'class->"form-control")
                                  </div>
                              </div>
                              <div class="col-md-6">
                                  <div class="form-group form-control-material">
                                      @helper.inputText(teacherForm("confirm_password"), '_label -> "Gõ lại Mật khẩu",'_id -> "confirm_password",  'type -> "password", 'class->"form-control")
                                  </div>
                              </div>
                          </div>
                      </fieldset> 
                  <div class="col-md-4 col-md-offset-5">
                    <input type="submit" class="btn btn-success" value="Save">
                    @if(Teacher.findByEmail(session().get("email"))!=null){
                      <a class="btn" href="@routes.Teachers.dashboard(Teacher.findByEmail(session().get("email")))">Cancel</a>
                    } else {
                      <a class="btn" href="@routes.Teachers.list()">Cancel</a>
                    }
                  </div>
                }
              </div>
            </div>
        </div>
    </div>
</div>
}