@()
@main("Liên hệ") {
	<div class="parallax page-section bg-blue-300">
        <div class="container parallax-layer" data-opacity="true">
            <div class="media media-grid v-middle">
                <div class="media-left">
                    <span class="icon-block half bg-blue-500 text-white"><i class="fa fa-envelope"></i></span>
                </div>
                <div class="media-body">
                    <h3 class="text-display-2 text-white margin-none">Liên hệ với chúng tôi</h3>
                    <p class="text-white text-subhead">Đại học Công Nghệ - Đại học Quốc Gia Hà Nội - 136 Xuân Thủy</p>
                </div>
            </div>
        </div>
    </div>
    <div class="relative height-500 height-400-xs">
    	<img src="@routes.Assets.at("/images/map.png")" alt="">
    </div>
}