@()
@main("Trang quản trị của giáo vụ") {
<div class="parallax overflow-hidden bg-blue-400 page-section third">
    <div class="container parallax-layer" data-opacity="true">
        <div class="media v-middle">
            <div class="media-left text-center">
                <a href="#">
                    @if(Teacher.findByEmail(session().get("email"))!=null){
                        <img src="@routes.Assets.at("images/teacher.jpg")" alt="people" class="img-circle width-80" />
                    } else {
                        <img src="@routes.Assets.at("images/no-avatar.png")" alt="people" class="img-circle width-80" />
                    }
                </a>
            </div>
            <div class="media-body">
                @if(Teacher.findByEmail(session().get("email"))!=null){
                <h1 class="text-white text-display-1 margin-v-0">@Teacher.findByEmail(session().get("email")).name</h1>
                } else {
                <h1 class="text-white text-display-1 margin-v-0">Admin</h1>
                }
            </div>
            <div class="media-right">
                @if(Teacher.findByEmail(session().get("email"))!=null){
                <span class="label bg-blue-500">Giáo viên</span>
                } else {
                <span class="label bg-blue-500">Giáo vụ</span>
                }
            </div>
        </div>
    </div>
</div>
<div class="container">
	<div class="page-section">
    	<div class="row">
    		<div class="col-md-9">
                <div class="row" data-toggle="isotope">
                    <div class="item col-xs-12 col-lg-6">
                        <div class="panel panel-default paper-shadow" data-z="0.5">
                            <div class="panel-heading">
                                    <h4 class="text-headline margin-none">Thống kê</h4>
                            </div>
            				<div id="pieCanvas" style="overflow: auto; position:relative;height:400px;width:450px;"></div>
            				<script type="text/javascript">
            					var p = new pie();
            					p.add("Sinh viên",@Student.getTotalRowCount());
            					p.add("Giáo viên",@Teacher.getTotalRowCount());
            					p.render("pieCanvas", "Pie Graph")
            				</script>
                        </div>
                    </div>
                    <div class="item col-xs-12 col-lg-6">
                        <div class="panel panel-default paper-shadow" data-z="0.5">
                            <div class="panel-heading">
                                    <h4 class="text-headline margin-none">Số lượng</h4>
                            </div>
                            <div class="panel-body">
                            <ul class="list-group">
                                <li class="list-group-item media v-middle">
                                    <div class="media-body">
                                        <h4 class="text-subhead margin-none">
                                            <i class="fa fa-comment text-green-300" style="font-size:50px;"></i>
                                        </h4> 
                                    </div>
                                    <div class="media-center text-center text-green-300">
                                        <div class="text-display-1">@Student.getTotalRowCount() Sinh viên</div>
                                    </div>
                                </li>
                                <li class="list-group-item media v-middle">
                                    <div class="media-body">
                                        <h4 class="text-subhead margin-none">
                                            <i class="fa fa-desktop text-red-300" style="font-size:50px;"></i>
                                        </h4> 
                                    </div>
                                    <div class="media-center text-center text-red-300">
                                        <div class="text-display-1">@Teacher.getTotalRowCount() Giáo viên</div>
                                    </div>
                                </li>                                
                            </ul>     
                            </div>
                            
                        </div>
                    </div>
                </div>
			</div>
			<div class="col-md-3">
				<div class="panel panel-default" data-toggle="panel-collapse" data-open="true">
                    <div class="panel-heading panel-collapse-trigger">
                        <h4 class="panel-title">Tài khoản</h4>
                    </div>
                    <div class="panel-body list-group">
                        <ul class="list-group list-group-menu">
                            <li class="list-group-item active"><a class="link-text-color" href="@routes.Application.admin()">Tổng quan</a></li>
                            <li class="list-group-item"><a class="link-text-color" href="@routes.Students.list()">Danh sách sinh viên</a></li>
                            <li class="list-group-item"><a class="link-text-color" href="@routes.Teachers.list()">Danh sách giáo viên</a></li>
                            <li class="list-group-item"><a class="link-text-color" href="website-student-messages.html">Tin nhắn</a></li>
                            <li class="list-group-item"><a class="link-text-color" href="@routes.Application.logout()"><span>Đăng xuất</span></a></li>
                        </ul>
                    </div>
                </div>
			</div>
    	</div>
    </div>
</div>
}