@(message: String)

@main() {
<style type="text/css">
    .cell-12 {width: 100%;}
    .cell-4{width: 33.33333333%;}
    .fx {
        opacity: 0;
    }
    .text-center{
        text-align:center;
    }
    .img-responsive{
        display: block;
        max-width: 100%;
        height: auto;
        vertical-align:middle;
        margin:auto;
    }
</style>
<div class="parallax cover overlay cover-image-full home">
        <img class="parallax-layer" src="@routes.Assets.at("images/giainhi.jpg")" alt="Learning Cover" />
        <div class="parallax-layer overlay overlay-full overlay-bg-white bg-transparent" data-speed="8" data-opacity="true">
            <div class="v-center">
                <div class="page-section overlay-bg-white-strong relative paper-shadow" data-z="1">
                    <h1 class="text-display-2 margin-v-0-15 display-inline-block">Hệ thống quản lý luận văn cao học</h1>
                    <p class="text-subhead">Là hệ thống hỗ trợ quản lý luận văn của sinh viên cao học, trường Đại Học Công Nghệ - ĐHQGHN</p>
                    <a class="btn btn-green-500 btn-lg paper-shadow" href="@routes.Application.login()">Đăng nhập ngay bây giờ</a>
                </div>
            </div>
        </div>
    </div>
<div class="container">
    <div class="page-section-heading">
        <h2 class="text-display-1">Cách thức hoạt động</h2>
    </div>
    <div class="row">
        <div class="row desktop-hidden">
            <div class="cell-12">
                <img src="@routes.Assets.at("images/ekattor-diagram.png")" class="img-responsive">
            </div>
        </div> 
    </div>
</div>
}
