@()
<div class="navbar navbar-default navbar-fixed-top navbar-size-large navbar-size-xlarge paper-shadow" data-z="0" data-animated role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand navbar-brand-logo">
                    <a href="@routes.Application.index()">
                        <style>
                            img{
                                margin-bottom: 10px;
                            }
                        </style>                   
                        <img src="@routes.Assets.at("images/uet_logo.png")" width="50 px" height="50 px" alt="">
                        <img src="@routes.Assets.at("images/ac.svg")" width="100 px" height="60px" alt="">
                    </a>
                    
                </div>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="main-nav">
                <ul class="nav navbar-nav navbar-nav-margin-left">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-home"></i> Menu<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            @if(UserAccount.findByEmail(session().get("email")) != null){
                               <li><a href="@routes.Application.admin()">Trang chủ</a></li>
                            } else {
                                @if(Student.findByEmail(session().get("email")) != null) {
                                <li><a href="@routes.Students.dashboard(Student.findByEmail(session().get("email")))">Trang chủ</a></li>
                                } else {
                                    @if(Teacher.findByEmail(session().get("email")) != null) {
                                        <li><a href="@routes.Teachers.dashboard(Teacher.findByEmail(session().get("email")))">Trang chủ</a></li>
                                    } else {
                                        <li><a href="@routes.Application.index()"><i class="fa fa-trophy"></i> Trang chủ</a></li>
                                    }
                                }
                            }                                                   
                            <li><a href="@routes.Application.contact()"><i class="fa fa-heart"></i> Liên hệ</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sinh viên <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li class="hide"><a href="@routes.Students.newStudent()">Thêm sinh viên</a></li>
                            <li><a href="@routes.Students.list()">Danh sách sinh viên</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Giáo viên <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li class="hide"><a href="@routes.Teachers.newTeacher()">Thêm sinh viên</a></li>
                            <li><a href="@routes.Teachers.list()">Danh sách giáo viên</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="navbar-right">
                    <ul class="nav navbar-nav navbar-nav-bordered navbar-nav-margin-right">
                        @if(session.get("email") == null) {
                            <a href="@routes.Application.login()" class="navbar-btn btn btn-primary">Đăng nhập</a>
                        } else {
                            <li class="dropdown user">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <img src="@routes.Assets.at("images/no-avatar.png")" alt="" class="img-circle" /> @session.get("email")<span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="@routes.Application.logout()"><i class="fa fa-sign-out"></i> Đăng xuất</a></li>
                                </ul>
                            </li>
                        }
                    </ul>                  
                </div>
            </div>
            <!-- /.navbar-collapse -->
        </div>
    </div>
