@(currentPage: com.avaje.ebean.Page[Teacher])
@main("Quản lý giáo viên") {
    <script>
    function del ( urlToDelete ) {
        $.ajax ( {
            url : urlToDelete,
            type : 'DELETE',
            success : function ( results ) {
                // Refresh the page
                location.reload ( ) ;
            }
        } ) ;
    }
    @if(Student.findByEmail(session().get("email"))!=null){
        $(function(){
            $('.hidee').css('display', 'none');
        });
    }
    </script>
    <style>
        th{
            text-align: center;
        }
        td{
            text-align: center;
        }
    </style>
    <div class="parallax overflow-hidden bg-blue-400 page-section third">
        <div class="container parallax-layer" data-opacity="true">
            <div class="media v-middle">
                <div class="media-left text-center">
                    <a href="#">
                        <a href="#">
                        @if(Student.findByEmail(session().get("email"))!=null){
                            @if(Student.findByEmail(session().get("email")).avatar == null){
                                <img src="@routes.Assets.at("images/no-avatar.png")" alt="people" class="img-circle width-80" />
                            } else {
                                <img src="@routes.Students.getAvatar(Student.findByEmail(session().get("email")).id)" alt="people" class="img-circle width-90 height-90" />
                            }                    
                        </a>
                        } else {
                        <img src="@routes.Assets.at("images/no-avatar.png")" alt="people" class="img-circle width-80" />
                        }
                    </a>
                </div>
                <div class="media-body">
                    @if(Student.findByEmail(session().get("email"))!=null){
                    <h1 class="text-white text-display-1 margin-v-0">@Student.findByEmail(session().get("email")).name</h1>
                    } else {
                    <h1 class="text-white text-display-1 margin-v-0">Admin</h1>
                    }
                </div>
                <div class="media-right">
                    @if(Student.findByEmail(session().get("email"))!=null){
                    <span class="label bg-blue-500">Sinh viên</span>
                    } else {
                    <span class="label bg-blue-500">Giáo vụ</span>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="page-section">
            <div class="row">
                <div class="col-md-10">
                    <div class="panel panel-default">
                        <table data-toggle="data-table" class="table" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Mã GV</th>
                                    <th>Họ tên</th>
                                    <th>Số điện thoại</th>
                                    <th>Ngành</th>
                                    <th>Học Vị</th>
                                    <th>Email</th>
                                    <th class="hidee">Hành động</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for(teacher <- currentPage.getList()) {
                                <tr>
                                    <td><span class="btn btn-primary"><a href="@routes.Teachers.details(teacher)" style="color:white;">@teacher.ean</a></span></td>
                                    <td><span>@teacher.name</span></td>
                                    <td><span>@teacher.phone <i class="fa fa-phone"></i></span></td>
                                    <td><span>@teacher.faculty</span></td>
                                    <td><span>@teacher.classes</span></td>
                                    <td><span type="email">@teacher.email</span></td>
                                    <td class="text-center">
                                        <a href="@routes.Teachers.details(teacher)" class="btn btn-default btn-xs hidee" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-pencil"></i></a>
                                        <a href="#" class="btn btn-danger btn-xs hidee" data-toggle="modal" data-target="#@teacher.ean"><i class="fa fa-times"></i></a>
                                    </td>
                                    <div class="modal fade" id="@teacher.ean" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                      <div class="modal-dialog">
                                        <div class="modal-content">
                                          <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <h4 class="modal-title" id="myModalLabel">Xoá sinh viên</h4>
                                          </div>
                                          <div class="modal-body">
                                            Bạn có chắc chắn muốn xóa không ?
                                          </div>
                                          <div class="modal-footer">
                                            <a onclick="del(' @routes.Teachers.delete(teacher.ean)')">
                                                <button type="button" class="btn btn-primary">Đồng ý</button>
                                            </a>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Hủy bỏ</button>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    
                                </tr>
                            }
                            </tbody>
                        </table>
                        <!-- // Data table -->
                    <a href="@routes.Teachers.newTeacher()" class="btn btn-success hidee"><i class="fa fa-smile-o"></i> Thêm giáo viên</a>
                    <br>
                    <br>   
                    </div>
                </div>
                <div class="col-md-2">
                    @if(Student.findByEmail(session().get("email")) != null){
                    <div class="panel panel-default" data-toggle="panel-collapse" data-open="true">
                            <div class="panel-heading panel-collapse-trigger">
                                <h4 class="panel-title">Tài khoản</h4>
                            </div>
                            <div class="panel-body list-group">
                                <ul class="list-group list-group-menu">
                                    <li class="list-group-item"><a class="link-text-color" href="@routes.Students.dashboard(Student.findByEmail(session().get("email")))">Tổng quan</a></li>
                                    <li class="list-group-item active"><a class="link-text-color" href="@routes.Teachers.list()">Danh sách giáo viên</a></li>
                                    <li class="list-group-item"><a class="link-text-color" href="@routes.Students.details(Student.findByEmail(session().get("email")))">Sửa thông tin cá nhân</a></li>
                                    <li class="list-group-item"><a class="link-text-color" href="#">Tin nhắn</a></li>
                                    <li class="list-group-item"><a class="link-text-color" href="@routes.Application.logout()"><span>Đăng xuất</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    } else {
                    <div class="panel panel-default" data-toggle="panel-collapse" data-open="true">
                        <div class="panel-heading panel-collapse-trigger">
                            <h4 class="panel-title">Tài khoản</h4>
                        </div>
                        <div class="panel-body list-group">
                            <ul class="list-group list-group-menu">
                                <li class="list-group-item"><a class="link-text-color" href="@routes.Application.admin()">Tổng quan</a></li>
                                <li class="list-group-item"><a class="link-text-color" href="@routes.Students.list()">Danh sách sinh viên</a></li>
                                <li class="list-group-item active"><a class="link-text-color" href="@routes.Teachers.list()">Danh sách giáo viên</a></li>
                                <li class="list-group-item"><a class="link-text-color" href="website-teacher-messages.html">Tin nhắn</a></li>
                                <li class="list-group-item"><a class="link-text-color" href="@routes.Application.logout()"><span>Đăng xuất</span></a></li>
                            </ul>
                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
}